# Python venv
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code (개인 설정은 보통 제외)
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# 팡요랩 복사해온거
minimalRL/

# 시뮬 결과
replays_best/

# DQN 폴더
DQN/

# 기타 파일
*.mat
environment.py
new_train_2048.py
*.m
train_2048.py
DQN.py
